.container {
    width: 100%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container1 {
    width: 47%;
    border: 2px solid red;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    width: 47%;
    border: 2px solid red;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.writingText {
    width: 95%;
    margin: auto;
    height: 95%;
    padding: 10px;
    font-size: 18px;
}